body {
    font-family: Arial;
    padding: 30px;
    padding: 0;
    margin: 0;
}

header {
    background: #333;
}

header form {
    text-align: right;
    overflow: auto;
}
header form select {
    float: left;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 10px 20px;
    height: 40px;
    background: none;
    outline: 0;
}

section {
    padding: 20px;
}


#postas {
    font-size: 1.5em;
    line-height: 2em;
}

#vege {
    display: none;
    -webkit-appearance: none;
    font-size: 16px;
    padding: 6px 20px;
    height: 40px;
    color: #fff;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
}

#pont {
    color: #fff;
    font-size: 16px;
    display: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 20px;
    height: 16px;
    float: right;
}

.vege span {
    color: #f00;
    cursor: pointer;
}
.vege span.megvan {
    color: #0b0;
}
